[submodule "vendor/Symfony"]
	path = vendor/Symfony
	url = https://github.com/symfony/symfony.git
[submodule "vendor/Silex"]
	path = vendor/Silex
	url = https://github.com/fabpot/Silex.git
[submodule "web/themes/TwitterBootstrap/bootstrap"]
	path = web/themes/TwitterBootstrap/bootstrap
	url = https://github.com/twitter/bootstrap.git
