{% extends 'layout.html.twig' %}

{% block content %}
<div id="newCard">
    <header>
        <h1>Install</h1>
        <p></p>
    </header>
    <div id="cardForm">
        <div>
            <form name="cardForm" method="post" action="admin/{{ formType }}CardSubmit" enctype="multipart/form-data"‎>
                <fieldset class="loginInfo">
                    <h3>Login info</h3>
                    <p>
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" value="" />
                    </p>
                    <p>
                        <label for="password">Username</label>
                        <input type="password" name="password" id="password" value="" />
                    </p>
                </fieldset> 
                <fieldset class="mainInfo">
                    <h3>Main info</h3>
                    <p>
                        <label for="firstname">Your firstname</label>
                        <input type="text" name="firstname" id="firstname" value="Samy" />
                    </p>
                    <p>
                        <label for="lastname">Your last name</label>
                        <input type="text" name="lastname" id="lastname" value="Dindane" />
                    </p>
                    <p>
                        <label for="cardtitle">This vCard title (can be your own name)</label>
                        <input type="text" name="cardtitle" id="cardtitle" value="Samy Dindane" />
                    </p>
                    <p>
                        <label for="secondaryTitle">This vCard secondary title (can be your job)</label>
                        <input type="text" name="secondaryTitle" id="secondaryTitle" value="Web developer" />
                    </p>
                    <p>
                        <label for="birthday">Your birthday (mm/dd/yyyy)</label>
                        <input type="text" name="birthday" id="birthday" value="04/02/1992" />
                    </p>
                    <p>
                        <label for="about">About you (you can use html tags)</label>
                        <textarea id="about" name="about" cols="" rows="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</textarea>
                    </p>
                </fieldset>
                <fieldset class="emails">
                    <h3>Your email addresses</h3>
                    <p class="newEmail"><a href="#">Add another email address</a></p>
                </fieldset>
                <fieldset class="phoneNumbers">
                    <h3>Your phone numbers</h3>
                    <p class="newPhoneNumber"><a href="#">Add another phone number</a></p>
                </fieldset>
                <fieldset class="websites">
                    <h3>Your websites</h3>
                    <p class="newWebsite"><a href="#">Add another website</a></p>
                </fieldset>
                <fieldset class="links">
                    <h3>Your links (twitter, facebook, resume, etc...)</h3>
                    <p class="newLink"><a href="#">Add another link</a></p>
                </fieldset>
                <p>
                    <label for=""></label>
                    <input type="submit" name="submit" id="submit" value="Go!" />
                </p>
            </form>
        </div>
    </div>
    <footer>

    </footer>
</div>
{% endblock %}